.shadow-none {
  box-shadow: none !important; }

.shadow, #welcome-jumbovision, .code-show, .example {
  box-shadow: 0 12px 16px -6px rgba(0, 0, 0, 0.2), 0 12px 30px -13px rgba(0, 0, 0, 0.4); }

.shadow-small {
  box-shadow: 0 6px 16px -6px rgba(0, 0, 0, 0.3), 0 6px 30px -13px rgba(0, 0, 0, 0.4); }

.shadow-medium {
  box-shadow: 0 8px 16px -6px rgba(0, 0, 0, 0.3), 0 8px 30px -13px rgba(0, 0, 0, 0.4); }

.shadow-large {
  box-shadow: 0 10px 50px -3px rgba(0, 0, 0, 0.3), 0 10px 50px -3px rgba(0, 0, 0, 0.4); }

.shadow-center {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.4); }

.shadow-center-small {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.4); }

.shadow-center-medium {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.4); }

.shadow-center-large {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2); }

body::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: ' ';
  background-image: url("../img/example-nfw-bkg.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1; }

body::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: ' ';
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
  top: 0;
  left: 0; }

#welcome-jumbovision {
  background-color: white !important;
  background-image: url("../img/example-nfw-bkg.svg");
  background-repeat: no-repeat;
  background-position: right; }

#search-container {
  display: none; }

.code-show {
  background-color: #f0f0f0; }

.footer {
  padding: 26px 16px; }

.example {
  position: relative;
  padding: 28px;
  margin: 10px 0 0 0;
  border: 4px solid #f0f0f0;
  width: calc(100% - 22px);
  background-color: white;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%; }
  .example.grid-ex .row {
    margin-bottom: 20px; }
    .example.grid-ex .row > [class^="columns"], .example.grid-ex .row > [class^="column"] {
      padding: 12px;
      background-color: #f0f0f0;
      border: 1px solid #e6e6e6; }
  .example .no-column-fx .row > [class^="columns"], .example .no-column-fx .row > [class^="column"] {
    padding: inherit;
    background-color: inherit;
    border: inherit; }
  .example ~ .code-show {
    margin-top: 0;
    background-color: #f0f0f0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .example.border-utils span {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f0f0f0; }
  .example.flex-utils .ex-flex-div {
    background-color: rgba(40, 40, 40, 0.15);
    border: 1px solid rgba(40, 40, 40, 0.4); }
  .example .glob-obj-example {
    background-color: rgba(40, 40, 40, 0.15);
    border: 1px solid rgba(40, 40, 40, 0.4);
    padding: 4px; }
  .example.border-utils.remove-border span {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f0f0f0;
    border: 1px solid #7f7f7f; }

main hr {
  margin: 40px 0; }

.code-show {
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: auto; }
  .code-show pre {
    counter-reset: line;
    padding-left: 42px;
    white-space: pre-wrap; }
  .code-show span {
    position: relative;
    vertical-align: top;
    word-wrap: break-word;
    word-spacing: 0;
    font-size: 16px; }
  .code-show .line-numbers-rows {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0 12px;
    border-right: 1px solid rgba(64, 64, 64, 0.5);
    text-align: center; }
    .code-show .line-numbers-rows > span {
      pointer-events: none;
      display: block;
      counter-increment: linenumber; }
      .code-show .line-numbers-rows > span::before {
        content: counter(linenumber);
        color: #999;
        display: block;
        text-align: right; }
  .code-show .code-show-lines {
    display: inline-block;
    counter-increment: linenumber;
    margin-bottom: -1px; }
    .code-show .code-show-lines::before {
      content: counter(linenumber);
      color: #999;
      display: block;
      text-align: right;
      left: -30px;
      position: absolute;
      height: 100%; }
    .code-show .code-show-lines .code-show-line {
      border-left: 1px solid rgba(64, 64, 64, 0.5);
      padding-left: 20px;
      display: inline-block;
      min-height: 24px; }
  .code-show .GlobalTags {
    color: #0070c0;
    word-wrap: break-word; }
  .code-show .attribute {
    color: #7030a0;
    word-wrap: break-word; }
  .code-show .htmlDefault {
    color: #262626;
    word-wrap: break-word; }
  .code-show .htmlSingleString {
    color: #767171;
    word-wrap: break-word; }
  .code-show .DoubleString {
    color: #333399;
    word-wrap: break-word; }
  .code-show .GlobalErrorTag {
    color: red;
    word-wrap: break-word; }
  .code-show .tagcolor {
    color: #002060;
    word-wrap: break-word; }
  .code-show .htmlMetagDoc {
    color: #44546a;
    word-wrap: break-word; }
  .code-show .htmlMetagDoc span {
    color: #44546a;
    word-wrap: break-word; }
  .code-show .OpenGraphprotocolTags {
    color: #bd0345;
    word-wrap: break-word; }
  .code-show .cssselectorcolor {
    color: #548235; }
  .code-show .black {
    color: black; }

/*# sourceMappingURL=docs-nv.css.map */