<template>
  <div id="app">
    <landing-page></landing-page>
  </div>
</template>

<script>
  import landingPage from './components/LandingPage.vue'
  export default {
    components: {landingPage},
    name: 'gitlab-discovery'
  }
</script>

<style>
  /* CSS */
</style>
